{
  "repositories": [
    {
      "name": "artifactory",
      "url": "https://your-artifactory.com/artifactory/api/conan/conan-repo",
      "user": "username",
      "password": "password",
      "is_default": true
    },
    {
      "name": "conan-center",
      "url": "https://center.conan.io",
      "is_default": false
    }
  ]
}
